{% load baender %}
{# M10 Download-Leiste: Titel und Satz links, genau ein Button rechts mit Format und Inhalt darunter, Einzeldateien als Textlinks. #}
<section class="{% abschnitt band band_anfang band_ende %}">
    <div class="wrap"{% if self.header.anchor_id %} id="{{ self.header.anchor_id }}"{% endif %}>
        <div class="grid gap-y-6 lg:grid-cols-12 lg:gap-x-10 lg:items-end">
            <div class="lg:col-span-7">
                <h2 class="t-h2 m-tinte">{{ self.header.title }}</h2>
                {% if self.header.subline %}<p class="mt-4 t-lead m-text">{{ self.header.subline }}</p>{% endif %}
            </div>
            <div class="lg:col-span-5 lg:text-right">
                <a class="btn-primary" href="{{ self.url }}">{{ self.label }}</a>
                {% if self.hinweis %}<p class="mt-3 text-base m-leise">{{ self.hinweis }}</p>{% endif %}
            </div>
        </div>
        {% if self.dateien %}<p class="mt-10 pt-6 border-t m-linie flex flex-wrap gap-x-8 gap-y-3 text-base">{% for d in self.dateien %}<a class="textlink" href="{{ d.url }}">{{ d.label }}</a>{% endfor %}</p>{% endif %}
    </div>
</section>
