{% load wagtailcore_tags baender %}
{# Fließtext mit Überschrift (24 px Abstand, Textspalte höchstens 45 rem). Mit Randspalte: rechts kurze Ergänzungen (Kernsätze, Stand, Kontakt), am Handy darunter. dokument: Überschriftstufe für Dokumente. #}
<section class="{% if self.background == 'gray' %}{% abschnitt band band_anfang band_ende standard='grau' %}{% else %}{% abschnitt band band_anfang band_ende %}{% endif %}">
    <div class="wrap">
        {% if self.header.title %}{% include_block self.header with dicht=True dok=dokument %}{% endif %}
        {% if self.aside %}
        <div class="grid gap-y-10 lg:grid-cols-12 lg:gap-x-8">
            <div class="lg:col-span-7 prose prose-lg dark:prose-invert max-w-none">{{ self.body|safe }}</div>
            <aside class="lg:col-span-4 lg:col-start-9 randspalte prose prose-lg dark:prose-invert max-w-none">{{ self.aside|richtext }}</aside>
        </div>
        {% else %}
        <div class="prose prose-lg dark:prose-invert max-w-[45rem]">{{ self.body|safe }}</div>
        {% endif %}
    </div>
</section>
