{% load baender %}
{# Ein Bildschirm des Produkts, dem die Seite gehört – dieselbe Rahmung wie der Stapel der Startseite (Rand, Schatten, Markenfläche). #}
{% produkt_bild produkt as b %}
<figure class="lg:col-span-6">
    <div class="hero-einzel">
        <picture class="hero-karte">
            <img src="{{ b.url }}" srcset="{{ b.url }} 800w, {{ b.url_gross }} 1600w"
                 sizes="(min-width: 1280px) 530px, (min-width: 1024px) 42vw, 85vw"
                 width="800" height="500" fetchpriority="high" decoding="async" alt="{{ b.alt }}">
        </picture>
    </div>
</figure>
